

.details_grid{
    padding: 4% 2% ;
}

/* @media (min-width: 400px) {
    .details_grid{
        padding: 60% 2% !important ;
    }
} */


/* @media only screen and (max-width: 490px) {
    .css-tnt5a5-MuiPaper-root-MuiCard-root {
      position: relative !important;
      top:0% !important;
    }

    .details_grid{
        padding: 5% 2% !important;
    }
  } */