.navbar_heading{
    display: flex;
    justify-content: space-evenly;
}

.navbar_heading > h6{
    cursor: pointer;
}

.btn_section {
    display: flex;
    justify-content: flex-end;
}

.navbar_heading a{
    text-decoration: none;
    color: #fff;
}

@media screen and (max-width: 768px) {
    .css-15zeepj-MuiPaper-root-MuiAppBar-root{
       height: 10vh;
    }
}